@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

* {
  box-sizing: boder-box;
  font-family: "Italiana", serif;
}

body {
  background-color: #ffcfce;
}

h1 {
  font-family: "Poppins", sans-serif;
}
